
@import '../../../../styles/colors.css';

:root {
    --mar: 4px;
    --border: 1px solid var(--blue);
}

/****************************/
/*      Lanes sub-form      */
/****************************/

.lanesTable {
    width: 100%;
}
.lanesTable th {
    font-size: 12px;
    padding-left: var(--mar);
}
.lanesGroup {
}
.lanesGroup::before
{
    content: '';
    display: block;
    height: 5px;
}
.lanesGroup::after
{
    content: '';
    display: block;
    height: 5px;
}

/****************************/
/*       Generic cell       */
/****************************/

.libCell {
}
.libCell > div {
    margin: 0;
    /*padding: 0 calc(15px + var(--mar));  !* compensate the -15px left/right-margin in BS .form-horizontal .form-group *!*/
    padding: 0 5px;
}
.qcCell {
    background-color: #E5F2FF;
}

/****************************/
/*     Particular cells     */
/****************************/

.laneCell {
    padding-top: 5px;
    padding-right: 5px;
    vertical-align: top;
}
.projectCell {
    width: 40%;
}
.libraryCell {
    width: 25%;
}
.quantityCell {
    /* Will adapt to what is left */
}
.qualityCell {
    min-width: 90px;
}

/****************************/
/*   Border around a lane   */
/****************************/

td.projectCell {
    border-left: var(--border);
}
td.commentCell {
    border-left: var(--border);
    border-bottom: var(--border);
    padding: 4px 0;
}
td.buttonsCell {
    border-right: var(--border);
    padding-right: 4px;
}

.topRow td:not(:first-child):not(:last-child) {
    border-top: var(--border);
    padding-top: var(--mar);
}
.bottomRow td:not(:first-child):not(:last-child) {
    border-bottom: var(--border);
    padding-bottom: var(--mar);
}
.leftRow {
    border-left: var(--border);
}
.rightRow {
    right: var(--border);
}

/****************************/
/*          Buttons         */
/****************************/

.addLaneButton {
    margin: 5px 0;
}
.addLibrary {
    cursor: pointer;
    font-size: 1.5em;
    color: green;
}
.addLibrary:hover {
    color: black;
}
.addQCLibrary {
    color: var(--blue);
}
.addPool {
    padding: 3px 5px;
    margin-left: 3px;
}
/* The ones on the right side of the lane must be spaced */
.removeLane, .addLibrary, .addQCLibrary {
    margin-left: 5px;
}
/* The ones with a fontawesome icon must be rescaled */
.removeLibrary, .removeLane, .addQCLibrary {
    cursor: pointer;
    font-size: 1.5em;
}
.removeLibrary:hover, .removeLane:hover {
    color: var(--errorRed);
}

/* The "(No comment)" string when the form is disabled */
.noComment {
    font-size: 0.8em;
    padding-left: 5px;
}