
@import '../../../../styles/colors.css';

:root {
    --mar: 4px;
    --border: 1px solid var(--blue);
}

.col {
    padding: 0 5px;
}


.preRunsInsertTable {
    width: 100%;
}
.preRunsInsertTable thead:after {
    margin-bottom: 3px;
}
.preRunsInsertTable th {
    height: 30px;
    padding: 5px;
    background-color: var(--yellow);
}
.preRunsInsertTable td {
    padding: 5px 5px 0 0;
}


.submitButton {
    margin-top: 15px;
}

/* The <Col> element containing the table */
.subformCol {
    padding-left: 0;
    margin-top: 6px;
}
