
.leftMenu {
    background-color: #ccc;
}

.title {
    font-size: 1.2em;
    text-align: center;
    padding: 15px 0;
    margin: 15px;
    border-bottom: 2px solid black;
}


.leftMenu li {
    text-align: center;
}
.leftMenu li > a {
    border-radius: 0;
}