
@import '../../../styles/common.css';

.leftMenu {
    width: 100%;
}

.leftSide {
    float: left;
    width: var(--main-logo-width);
    height: 100%;
    padding-top: 15px;
    padding-bottom: 50px;
    margin: -20px 30px 30px -15px;
    box-shadow: 10px 0 10px -10px #ccc;
}
.rightSide {
    margin-left: var(--main-logo-width);
    width: calc(100% - var(--main-logo-width));
}
.rightSideReset {
    width: 100%;
}

.divider {
    margin: 8px 16px;
    height: 1px;
    background-color: #757575;
}

.title {
    font-size: 1.4em;
    text-align: center;
    padding-top: 15px;
    margin: 0 15px 15px 15px;
}

.items {
}


.items li {
    text-align: center;
}
.items li > a {
    border-radius: 0;
}
