
.footer {
    padding: 16px;
    padding-left: 40px;
    background-color: transparent;
}

.unilLogo {
    margin-left: 20px;
}


@media screen and (max-width: 1024px) {

    .footer {
        display: flex;
        width: 100%;
    }

}
