
@import '../../../styles/colors.css';


.col6 {
    padding: 0;
}

.searchField {
    width: 40%;
    float: left;
}

.toggleVisible {
    width: 34px;
    margin-left: 20px;
    float: left;
}
.toggleVisibleButton {
    width: 34px;
    height: 34px;
    padding: 0;
}
.toggleVisible::after {
    clear: both;
}

.querySelector {
    float: left;
    width: 150px;
    margin-top: 20px;
    margin-right: 15px;
}


/* ListGroup */
.items {
    border-radius: 0;
    margin: 0;
}


/* ListGroupItem with onClick becomes a button */
.items button:focus {
    outline: none;
}
.items .disabled,
.items .disabled:hover,
.items .disabled:focus {
    pointer-events: none;
    cursor: default;
    color: var(--disabledGrey);
}