
@import '../../styles/override.css';

/* BS */

.tableContainer {
}
.tableContainer > div {
    height: 36px;
}

.tableHeader {
}
.tableHeader th {
    background: #fc0;
    border-bottom: none;
}

.sort, .sortUp, .sortDown {
    margin-left: 5px;
}
.sort {
    color: #ccc;
}

/* Ag-grid */

.agTableContainer {
    padding-top: 15px;
}
.clearfix {
    clear: both;
}

.nrows {
    position: absolute;
    top: 65px; /*105px;*/
    left: 30px;
}

.searchField {
    float: right;
    width: 250px;
}
