
@import '../../styles/override.css';


/* Ag-grid */

.agTableContainer {
    padding: 0 15px;
}
.clearfix {
    clear: both;
}

.nrows {
    position: absolute;
    top: 90px;
    left: 70px;
}

.searchField {
    width: 225px;
    float: right;
}

.searchWrapper {
    position: relative;
    width: 300px;
    margin-bottom: 10px;
    margin-top: -40px;
    float: right;
}

.resetBtn{
    position:relative;
    width: 15px;
    right: 22px;
    top: 9px;
    float: right;
    z-index: 1;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .searchField {
        margin-top: 0;
    }
    .nrows {
        top: 135px;
    }

}

@media screen and (max-width: 800px) {

    .agTableContainer {
        padding: 0;
    }
    .searchField {
        margin-right: 0;
    }

}