@import '../../../styles/colors.css';

/* "Project definition:", "Libraries definition:", etc. */
.title {
    width: calc(100% - 20px); /* Leaving space for the triangle */
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: var(--qcBlue);
}
.projectDefinition {
}
.samplesDefinition {
}
.submitButton {
    margin: 15px 0 15px 5px;
}
/* Triangles in CSS! */
.triangleRight {
    float: right;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid var(--qcBlue);
}


/** Tables **/

.batchInsertTable {
    margin-right: 15px;
}

.batchInsertTable td {
    border: 1px solid #ccc;
}

.cell {
    padding: 0;
    max-width: 150px;
    font-size: 0.9em;
}
.headerCell {
    white-space: nowrap;
    padding-right: 10px;
}

.input {
    border: none;
}
.textInput, .numInput, .selectInput {
    height: 24px;
}
/* Remove borders because the table already provides some */
.textInput, .numInput, .dateInput, .selectInput {
    border: none;
}
.selectInput {
    padding: 2px;
}
.checkbox {
    /*margin-left: 15px;*/ /* Had to override it in style prop */
}
/* The div that contains a select input */
.selectWrapper {
    overflow: hidden;
    padding-right: 2px;
    background: white;
}


/** The buttons that act on the whole table **/

.addNewRowButton, .clearButton {
    padding-right: 10px;
    cursor: pointer;
}


/** The buttons on the left of each sample row **/

.rowButtons {
    width: 65px;
}
.rowButtons span.fa {
    cursor: pointer;
}
.removeButton {
    cursor: pointer;
    padding: 2px;
}
.copyOnceButton {
    cursor: pointer;
    padding: 2px;
    margin-right: 2px;
}


/** Buttons hover color **/

.addNewRowButton:hover, .clearButton:hover {
    color: var(--blue);
}
.copyOnceButton:hover {
    color: var(--blue);
}
.removeButton:hover {
    color: var(--errorRed);
}


/** The copy-and-paste textarea **/

.parseButton {
    margin: 15px 0 15px 5px
}