
@import '../../../styles/colors.css';


.col6 {
    padding: 0;
}

.searchField {
    width: 40%;
    float: left;
}

.toggleVisible {
    width: 34px;
    margin-left: 20px;
    float: left;
}
.toggleVisibleButton {
    width: 34px;
    height: 34px;
    padding: 0;
}
.reset {
    margin-left: 20px;
    float: left;
}
.reset::after {
    clear: both;
}

.querySelector {
    float: left;
    width: 150px;
    margin-top: 20px;
    margin-right: 15px;
}


/* ListGroup */
.items {
    border-radius: 0;
    margin: 0;
}


/* ListGroupItem with onClick becomes a button */
.items button:focus {
    outline: none;
}
.items .disabled,
.items .disabled:hover,
.items .disabled:focus {
    pointer-events: none;
    cursor: default;
    color: var(--disabledGrey);
}

/* Run sselection table */
.runsSelection {
    height: 208px;
    width: 100%;
    overflow-y: scroll;
    font-size: 0.9em;
    margin-top: 15px;
}
.runsSelection tr:hover {
    background-color: var(--qcBlue);
}
.cell {
    padding-left: 10px;
    white-space: nowrap;
}
.checkboxCell {
}
.checkbox {
    margin: 0;
    position: relative;
    top: 3px;
}
.instrumentCell {
    composes: cell;
}
.runNbCell {
    composes: cell;
}
.runDateCell {
    composes: cell;
}
.readLengthCell {
    composes: cell;
}
.runTypeCell {
    composes: cell;
}
.runFolderCell {
    composes: cell;

}
.statusCell {
    composes: cell;
}
