
@import '../../../../styles/colors.css';

:root {
    --mar: 4px;
}


/* The <Col> element containing the table */
.subformCol {
    padding-left: 0;
    padding-right: 5px;
    margin-top: 15px;
}

.lanesTable {
    width: 100%;
}
.lanesTable thead {
    padding-right: 15px;
}
.lanesTable thead:after {
    margin-bottom: var(--mar);
}
.lanesTable th {
    height: 30px;
    background-color: var(--yellow);
    font-size: 12px;
    padding-left: var(--mar);
}
.lanesTable td {
    padding: 5px 5px 0 0;
}

.submitButton {
    margin-top: 15px;
}


/******************/
/* Lanes sub-form */
/******************/

/* Generic cell */

.cell {
}
.cell > div {
    margin: 0;
    padding: 0 calc(15px + var(--mar));  /* compensate the -15px left/right-margin in BS .form-horizontal .form-group */
}


/* Particular cells */

.laneCell {
    width: 20px;
}
.projectCell {
    width: 40%;
}
.libraryCell {
    width: 25%;
}
.commentCell {
}


/* Column content style */

.laneId {
    width: 50px;
    text-align: center;
    font-weight: bold;
}