
/* To have a clean background */
.alertWrapper {
    z-index: 999;
    background: white;
    position: relative;
    top: 0;
    left: 0;
}

.alert {
    z-index: 1000;
}

.alertOk {
    margin-left: 10px;
    cursor: pointer;
}
