

@import '../../../styles/colors.css';

.divWrapper {
    width: 100%;
    padding: 10px;
    background-color: #E0E0E0;
}

.table {
    width: 100%

}

.th {
    padding-top: 3px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 3px;
    height: 30px;
    text-align: center;
    word-wrap: break-word;
}

.tr {

}

.td {
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    word-wrap: break-word;
}

.header {
    margin: 0px;
    padding: 2px;
    height: 100%;
    background-color: var(--yellow);
    border: solid 1px #ccc;
}

.showmore {
    width:auto;
    margin: 0px;
    padding: 10px;
    background-color: #f9f9f9;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.selectedCell {
    position: relative;
    padding: 10px;
    /*display:inline-block;*/
    width: 100%;
    height: 100%;
    background-color: #ebf2f9;
    border: solid 1px #3572B0;
    border-radius: 4px;
    white-space: pre-wrap;
}

.cell {
    position: relative;
    padding: 10px;
    /*display:inline-block;*/
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #ccc;
    cursor: pointer;
    transition: background-color 140ms ease-in-out, border-color 75ms ease-in-out;
    white-space: pre-wrap;
}

.cell:hover{
    border-color: #999;
}

.iconRow {
    position: absolute;
    display: inline-block;
    /*bottom: 10px;*/
    /*right: 5px;*/
    text-align: right;
    width: 90%;
    bottom: 5px;

}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: right;
    right: 10px;
    bottom: 0px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.menuUpDown {
    position: relative;
    display: inline-block;
    float: right;
    right: 5px;
    top : 5px;
    vertical-align: bottom;
}

.div1 {
    width: 100%;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
    background-color: white;
    /*display: flex;*/
    /*align-items: flex-start;*/
}

.div2 {
    padding: 10px;
    align-self: stretch;
}

.div2 table{
    border: #66afe9;
}

.div2 tr{
    border-bottom: 1px solid #ddd;
}

.div2 th{
    padding: 5px;
}

.div2 td{
    padding: 5px;
}

.div3 {
    /*width: 100%;*/
    background-color: #ebf2f9;
    padding: 15px;
    align-self: stretch;
}

.div3 table{
    border-collapse: collapse;
    /*width: 100%;*/
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;

}

.div3 tr{

}

.div3 th{
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #337ab7;
    color: white;
}

.div3 td {
    padding: 5px;
    border: 1px solid #ccc;
}

.close {
    float: right;
    cursor: pointer;
}

.button {
    margin: 15px 0;
    margin-left : 15px;
}

.laneNo{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightblue;
    vertical-align: middle;
}