

@import '../../../styles/colors.css';


.sidebar {
    background-color: white;
}
.overlay {
}
.content {
}


/** Contents **/

.sidebarLogo {
}

.sidebarContent {
    padding: 16px;
}

.items li {
    text-align: center;
}
.items li > a {
    border-radius: 0;
    padding: 20px 16px;
}
.items li + li {
    margin: 0;
}

