
@import '../../../styles/colors.css';


.sidebar {
    background-color: white;
}
.overlay {
}
.content {
}


/** Contents **/

.sidebarLogo {
}

.sidebarContent {
    padding: 16px;
}

.items li {
    text-align: center;
}
.items li + li {
    margin: 0;
}
.items li > a {
    border-radius: 0;
    padding: 20px 16px;
    color: black;
}
.items li.active > a,
.items li.active > a:hover,
.items li.active > a:focus {
    background-color: var(--yellow);
    box-shadow: 0 0 25px 15px white inset;
    color: black;
}

