
@import '../../../styles/colors.css';


.sidebar {
    background-color: white;
}
.overlay {}
.content {}
.divider {
    margin: 8px 16px;
    height: 1px;
    background-color: #757575;
}


/** Contents **/

.sidebarLogo {
}

.sidebarContent {
    padding: 16px;
}

/* ListGroup */
.items, .subitems {
    border-radius: 0;
    margin: 0;
}
/* ListGroupItem */
.items li {
    text-align: center;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
}
.items li + li {
    margin: 0;
}
.items li > a {
    display: block;
    border-radius: 0;
    color: black;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.items .disabled,
.items .disabled:hover,
.items .disabled:focus {
    pointer-events: none;
    cursor: default;
    color: var(--disabledGrey);
}


/* Main menu only */

.items {
    margin: 0;
}
.menuLink {
    padding: 15px 16px;
}
.menuLink:hover {
    border-radius: 0;
    background-color: var(--lightGrey);
    box-shadow: 0 0 25px 15px white inset;
}
.menuLink.active,
.menuLink.active:hover,
.menuLink.active:focus {
    background-color: var(--yellow);
    box-shadow: 0 0 25px 15px white inset;
    color: black;
}

/* Submenu only */

/* Because of <Collapse/> not liking paddings */
.subitemsWrapper {
    height: 100%;
    background-color: var(--lightGrey);
}
/* ListGroup */
.subitems {
    height: 100%;
    padding: 10px 0;
}
/* ListGroupItem */
.subitems li {
    background-color: var(--lightGrey);
}
.submenuLink {
    text-align: left;
    padding: 8px 20px;
    cursor: pointer;
}
.submenuLink:hover {
    background-color: var(--grey);
    box-shadow: 0 0 25px 15px var(--lightGrey) inset;
    color: black;
}
.submenuLink.active,
.submenuLink.active:hover,
.submenuLink.active:focus {
    /*
    background-color: var(--yellow);
    box-shadow: 0 0 25px 15px var(--lightGrey) inset;
    color: black;
    */
    font-weight: bold;
}
