
.batchInsertTable {

}

.batchInsertTable td {
    border: 1px solid #ccc;
}

.cell {
    padding: 0;
    max-width: 150px;
    font-size: 0.9em;
}

.cell input, .cell select {
    border: none;
}

.cell select {
    padding: 2px;
}

.cell input[type="checkbox"] {
    margin-left: 5px;
}

.headerCell {

}

