@import '../../styles/colors.css';


.batchInsertTable {

}

.batchInsertTable td {
    border: 1px solid #ccc;
}

.cell {
    padding: 0;
    max-width: 150px;
    font-size: 0.9em;
}

.cell input, .cell select {
    border: none;
}

.cell select {
    padding: 2px;
}

.cell input[type="checkbox"] {
    margin-left: 5px;
}

.headerButtons {
}
.addNewRowButton, .clearButton {
    padding-right: 10px;
    cursor: pointer;
}
.addNewRowButton:hover, .clearButton:hover {
    color: var(--blue);
}

.rowButtons {
    width: 80px;
}
.rowButtons span.fa {
    cursor: pointer;
}
.removeButton {
    padding: 2px;
}
.copyOnceButton {
    padding: 2px;
    margin-right: 2px;
}

.copyNtimesButton {
    padding-left: 5px;
}
.copyNtimes {
    position: relative;
    top: 0px;
    left: -8px;
    font-size: 0.7em;
    /*z-index: -1;*/
}
.rowButtons button.dropdown-toggle {
    padding: 2px;
    font-size: inherit;
}
.dropdown {
    padding: 0px;
    margin-right: 2px;
    font-size: inherit;
}
.dropdownMenu {
    min-width: 0;
    width: 142px;
}
.multiCopyInput {
    display: inline-block;
    width: 75px;
    margin-left: 5px;
}
.multiCopyOkButton {
    display: inline-block;
    width: 50px;
    margin: -3px 0 0 5px;
}

