
@import '../../../styles/colors.css';
@import '../../../styles/common.css';


.header {
    /*border-bottom: 5px solid var(--blue);*/
    background-color: white; /*(var(--blue);*/
    height: var(--header-height);
    border-bottom: 1px solid #ccc;
}

.headerRow {
    height: 100%;
}

.leftItem {
    display: inline-block;
    height: 100%;
}

.menuToggleButton {
    display: none;  /* see @media below */
    padding: 0 22px;
    line-height: var(--header-height);
    font-size: 1.6em;
    cursor: pointer;
}
.flowcellImage {
    display: block;  /* see @media below */
    height: var(--header-height);
    width: var(--header-height);
    background: url("../../../public/images/uhts_logo5-min.png") -153px 0;
    background-size: cover;
}
.gtfLogo {
    display: block;  /* see @media below */
    height: 55px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    background: url("../../../public/images/gtf_logo.png");
    background-size: cover;
}

.navBar {
    line-height: 40px;
}
.navBar li + li {
    margin: 0;
}
.navBar li > a {
    color: black;
    border-radius: 0;
}
.navBar li > a:hover {
    background-color: var(--yellow);
    color: black;
}
.navBar li > a:focus {
    background-color: var(--yellow);
    color: black;
}


@media screen and (max-width: 1024px) {

  .header {
    display: flex;
    width: 100%;
  }

}

@media screen and (max-width: 800px) {

    .header {
        /*margin-left: var(--main-logo-width);*/
    }

    .menuToggleButton {
        display: block;
        float: left;
    }

    .gtfLogo {
        display: none;
    }
    .flowcellImage {
        display: none;
    }

}
