
@import '../../../styles/colors.css';
@import '../../../styles/common.css';


.header {
    /*border-bottom: 5px solid var(--blue);*/
    background-color: white; /*(var(--blue);*/
    height: var(--header-height);
    border-bottom: 1px solid #ccc;
}

.headerRow {
    height: 100%;
}

.leftItem {
    display: inline-block;
    height: 100%;
}

.mainLogoFiller {
    position: relative;
    display: inline-block;
    /*background: url("../../../public/images/uhts_logo5-min.png") red;*/
    width: 70px;
    height: var(--header-height);
    /*z-index: 4;*/
    margin-left: -153px;
}
.gtfLogo {
    margin-left: 70px;
    padding-top: 5px;
}

.navBar {
    line-height: 40px;
}
.navBar li + li {
    margin: 0;
}
.navBar li > a {
    color: black;
    border-radius: 0;
}
.navBar li > a:hover {
    background-color: var(--yellow);
    color: black;
}
.navBar li > a:focus {
    background-color: var(--yellow);
    color: black;
}


@media screen and (max-width: 1024px) {

  .header {
    display: flex;
    width: 100%;
  }

}

@media screen and (max-width: 800px) {

    .header {
        margin-left: var(--main-logo-width);
    }

}
