
@import '../../../styles/colors.css';

.header {
    /*border-bottom: 5px solid var(--blue);*/
    background-color: white; /*(var(--blue);*/
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.headerRow {
    height: 100%;
}

.leftItem {
    display: inline-block;
    height: 100%;
    margin-left: 70px;
}
.gtfLogo {
    padding-top: 5px;
}

.navBar {
    line-height: 40px;
}
.navBar li + li {
    margin: 0;
}
.navBar li > a {
    color: black;
    border-radius: 0;
}
.navBar li > a:hover {
    background-color: var(--yellow);
    color: black;
}
.navBar li > a:focus {
    background-color: var(--yellow);
    color: black;
}


@media screen and (max-width: 1024px) {

  .header {
    display: flex;
    width: 100%;
  }

}
