
:root {
    --header-height: 60px;
    --main-logo-width: 152px;
}

.fulldim {
    width: 100%;
    height: 100%;
}

.fullwidth {
    margin: 0 auto;
    width: 100%;
}
.fullheight {
    height: 100%;
}

.sharp {
    margin: 0;
    padding: 0;
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}

.halo {
    box-shadow: 0 0 25px 15px white inset;
}
