
@import './colors.css';


:global(*:focus) {
    outline: none;
}
:global(*:hover) {
    outline: none;
}

/* BS */

:global(.btn:focus) {
    outline: none;
}
:global(.btn:active) {
    outline: none;
}
/* Make forms more compact by removing margin between lines */
:global(.form-group) {
    margin-bottom: 0;
}
/* For some reason different form components have different label margins */
:global(.control-label) {
    margin: 0;
    padding-top: 7px;
}
/* Idiotic negative margin of form components */
/*
:global(.form-horizontal .form-group) {
    margin-left: 0;
    margin-right: 0;
}
*/

/* Ag-grid */

:global(.ag-cell) {
    outline: none;
}
:global(.ag-bootstrap .ag-cell-focus) {  /* only .ag-cell-focus is not specific enough to override! */
    border: none;
    margin-top: 1px;  /* it was moving mysteriously on click */
    margin-left: 1px;
}
:global(.ag-header-cell) {
    background-color: var(--yellow);
}
/* Hide the dropdown menu in header */
:global(.ag-header-cell-menu-button) {
    display: none;
}
:global(.ag-header-cell-label) {
    text-overflow: ellipsis;
    /*overflow: visible;*/
    white-space: normal;
    /*overflow-wrap: break-word;*/
}