
@import './colors.css';


/* BS */

/* Make forms more compact by removing margin between lines */
:global(.form-group) {
    margin-bottom: 0;
}
/* For some reason different form components have different label margins */
:global(.control-label) {
    margin: 0;
    padding-top: 7px;
}

/* Ag-grid */

:global(.ag-cell) {
    outline: none;
}
:global(.ag-cell-focus) {
    border: none;
    outline: none;
}
:global(.ag-cell:focus) {
    border: none;
    outline: none;
}
:global(.ag-header-cell) {
    background-color: var(--yellow);
}
/* Hide the dropdown menu in header */
:global(.ag-header-cell-menu-button) {
    display: none;
}