
:global(.form-group) {
    margin-bottom: 0;
}

.form {
    padding: 20px;
}

.formCol {
    padding-right: 30px;
}

.submitButton {
    margin: 15px 0;
}

.alertOk {
    margin-left: 10px;
    cursor: pointer;
}

.formGroup {
    margin-bottom: 0;  /* override Bootstrap's */
}