
@import '../../styles/override.css';


.form {
    padding: 20px;
}

/* Add a horizontal space between inputs in horizontal form layouts */
.formCol {
    padding-right: 30px;
}

.submitButton {
    margin: 15px 0;
}

/* The message printing on top of the screen when submission was a success/failure */
.alertOk {
    margin-left: 10px;
    cursor: pointer;
}

.formGroup {
    margin-bottom: 0;  /* override Bootstrap's */
}

.feedback {
    margin: 0;  /* override Bootstrap's through bsClass */
}