
@import '../../styles/override.css';


.form {
    padding: 20px 0 20px 20px;
    width: 100%;
}

/* Add a horizontal space between inputs in "horizontal" form layouts */
.formCol {
    padding-right: 30px;
    white-space: nowrap;
}

/* Add a horizontal space between inputs. New version with RRF. */
.col {
    padding: 0 5px;
}

.submitButton {
    margin: 15px 0 15px 5px;
}

/* The message printing on top of the screen when submission was a success/failure */
.alertOk {
    margin-left: 10px;
    cursor: pointer;
}

.formGroup {
    margin-bottom: 0;  /* override Bootstrap's */
}

.feedback {
    margin: 0;  /* override Bootstrap's through bsClass */
}

.checkbox {
    padding-right: 15px;
    font-size: 12px;
    white-space: normal;
    margin-bottom: 0;
}
/* Push to wards bottom so that it is aligned with other inputs */
.centerCheckbox {
    margin-top: 20px;
}
.checkboxLabel {
    margin-top: 2px;
}

/* The sign that a field is required
 * Make the star red, bigger, and still keep the same line height. */
.requiredString {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 75%;
    display: inline-block;
    position: relative;
    top: 5px;
}

.multipleSelect[multiple] {
    height: 150px;
}