
@import '../../styles/colors.css';


.preRunsInsertTable {
    width: 100%;
}
.preRunsInsertTable thead:after {
    margin-bottom: 3px;
}
.preRunsInsertTable th {
    height: 30px;
    padding: 5px;
    background-color: var(--yellow);
}
.preRunsInsertTable td {
    padding: 5px 5px 0px 0px;
}

.preRunsInsertRow {

}

/* Column types*/

.laneId {
    width: 50px;
    text-align: center;
    font-weight: bold;
}
.numeric {
    width: 120px;
    max-width: 120px;
}


.submitButton {
    margin-top: 15px;
}